{% extends "base.html" %}

{% block content %}
        <nav class="tabs">
            <span><a href="{% url 'homepage' %}">TABLEAU DE BORD</a></span>
            <span><a href="#">MON COMPTE PERSONNEL</a></span>
            <span><a href="#">COMPTES PARTAGE</a></span>
            <span class="actived"><a href="#">OPTIONS</a></span>
        </nav>

        <div class="content_body">
            <nav class="tab_actions">
                <span><a href="#">Ajouter</a></span>
                <span><a href="#">Action2</a></span>
                <span><a href="#">Action3</a></span>
            </nav>
            <div class="content">
                Page des Options
            </div>
        </div>
{% endblock content %}
