{% extends "base.html" %}

{% block content %}
    <div class="sign_in_introduction">
        <h2>Connexion</h2>
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="SE CONNECTER"/><a href="#">Mot de passe oublié?<a>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% else %}
                <input type="hidden" name="next" value="{% url 'homepage' %}"/>
            {% endif %}
        </form>
        {% if form.errors %}
        <p class="error">Erreur: votre login et mot de passe ne correspondent pas!</p>
        {% endif %}
{% endblock content %}
