html, body{
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select:none;
    user-select:none;
    background-color: whiteSmoke;
    font-family: arial;
}

/*****************Tabs Menu**********************/

.tabs{
    position: absolute;
    background-color: gray;
    height: 100%;
    width: 15%;
}

.tabs span{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid lightgray;
    height: 4rem;
    line-height: 3.9rem;
    text-align: center;
    border-left: 0.8rem solid;
}

.tabs span:nth-child(1){
    border-left-color: limegreen;
}

.tabs span:nth-child(1):hover{
    background-color: limegreen;
}

.tabs span:nth-child(2){
    border-left-color: red;
}

.tabs span:nth-child(2):hover{
    background-color: red;
}

.tabs span:nth-child(3){
    border-left-color: orange;
}

.tabs span:nth-child(3):hover{
    background-color: orange;
}

.tabs span:nth-child(4){
    border-left-color: yellow;
}

.tabs span:nth-child(4):hover{
    background-color: yellow;
}

.tabs span a{
    text-decoration: none;
    color: lightgray;
    font-size: 1.6rem;
}

.tabs span:hover a{
    color:black;
}

/***********************************************/
/*****************Top Menu**********************/

.top{
    background-color: black;
    width: 100%;
    height: 7rem;
}

.top .logo{
    display: inline-block;
    height: 100%;
    width: 15%;
    margin: 0;
    text-align: center;
    line-height: 6.5rem;
    font-size: 5rem;
}

.top .logo a{
    color:limegreen;
    text-decoration: none;
}

.top .sign{
    display: inline-block;
    float: right;
    color: white;
    padding: 0;
    margin-right: 1.5rem;
}

.top .sign span{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 4rem;
    display: inline-block;
    background-color: gray;
    text-align: center;
    word-wrap: break-word;
    line-height: 3.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top .sign span:hover{
    background-color: limegreen;
}

.top .sign a{
    text-decoration: none;
    color: white;
}
.top .sign span:hover a{
    color: black;
}

/***********************************************/
/*******************Content*********************/

.content_body{
    width: -moz-calc(85% - 4rem);
    margin: auto;
    margin-top: 2rem;
    margin-left: -moz-calc(15% + 2rem);
    height: 300px;
}

.content{
    background-color: lightgray;
    border: 0.3rem solid black;
}

.tab_actions{
    height: 3rem;
    text-align: center;
    line-height: 2.9rem;
    width: 20rem;
    background-color: gray;
}

.tab_actions span{
    display: inline-block;
    height: 100%;
    width: 32%;
}

.tab_actions span a{
    color: white;
    text-decoration: none;
}

.tab_actions span:hover{
    background-color: limegreen;
}

.tab_actions span:hover a{
    color: white;
}

/***********************************************/
/**************Introduction*********************/
.introduction{
    background-color: red;
    height: 50%;
    width: 65%;
    display: inline-block;
    margin: 3rem;
}

.sign_in_introduction{
    background-color: lightgray;
    margin: 3rem;
    height: 50%;
    width: 25%;
    display: inline-block;
}













